---
---

<header class="site-header">
  <div class="wrapper">
    <div class="header-info-block">
      <h1 class="site-title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </h1>
      <div class="header-details">
        <h3>Languages</h3>
        <ul>
          <li>Korean (native)</li>
          <li>English (fluent)</li>
        </ul>
        <h3>Skills</h3>
        <ul>
          <li>PyTorch</li>
          <li>OpenCV</li>
          <li>YOLOv7</li>
          <li>MONAI</li>
          <li>JAX</li>
          <li>Docker</li>
        </ul>
      </div>
    </div>
    <div class="header-nav">
      {% include nav.html %}
    </div>
  </div>
</header>
